<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ioio.examples.Balance" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
	<application android:icon="@mipmap/dwarf" android:label="Balancing Act">
		<uses-library android:name="com.android.future.usb.accessory"
			android:required="false" />

		<activity android:name="ioio.examples.Balance.Balancing_Act"
			android:configChanges="orientation|keyboardHidden" android:label="Balancing Act"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
				android:resource="@xml/accessory_filter" />
			<meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter" />
		</activity>
	</application>
</manifest>
